<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/frameworks.css">
</head>

<body>
    <div id="header" class="header">
        <div style="background:#ccc;width:100px; height:300px;margin:auto;line-height:300px;">asdasdasd</div>
    </div>
    <div style="height:1080px;background:#29e;"></div>
</body>

</html>
<script src="/js/lib/jquery-1.11.1.js"></script>
<script src="header.js"></script>
<script>
$('#header').header();
</script>
