@import url("/css/normalize.css");
/* 全局 */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Consolas", "Microsoft YaHei";
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* 常用 */
.container {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
/* 按钮 */
.button {
  padding: 6px 10px;
  min-width: 120px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button-blue {
  color: #fff;
  background: #29e;
}
.button-green {
  color: #fff;
  background: #6cc644;
}
.button-red {
  color: #fff;
  background: #d43f3a;
}
