@import url("css/normalize.css");
/* 全局 */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Consolas", "Microsoft YaHei";
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* 常用 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/* 按钮 */
.button {
  padding: 6px 10px;
  min-width: 120px;
  font-size: 14px;
  border: none;
  outline: none;
}
.button-green {
  color: #fff;
  background: #6cc644;
}
