.nav {
  float: left;
  width: 210px;
  font-size: 14px;
}
.demo-section span {
  display: inline-block;
  margin: 10px 0;
}
.demo-section ul {
  list-style: none;
}
.demo-section ul li a {
  color: #666;
  line-height: 1.6;
}
.demo-section ul li a.active {
  color: #cc7a6f;
}
.inner-content {
  float: left;
  width: 100%;
  max-width: 650px;
}
