<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/frameworks.css">
    <link rel="stylesheet" type="text/css" href="dropmenu.css">
</head>

<body>
    <ul class="nav">
        <li class="dropmenu">
            <button type="button" class="button button-green">父选项</button>
            <ul>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
            </ul>
        </li>
        <li class="dropmenu">
            <button type="button" class="button button-green">父选项</button>
            <ul>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
            </ul>
        </li>
        <li class="dropmenu">
            <button type="button" class="button button-green">父选项</button>
            <ul>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
            </ul>
        </li>
        <li class="dropmenu">
            <button type="button" class="button button-green">父选项</button>
            <ul>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
                <li><a href="#">子选项</a></li>
            </ul>
        </li>
    </ul>
</body>

</html>
