.title {
  position: relative;
  margin: 0 auto;
  width: 400px;
  text-align: center;
}
.title .title-name {
  padding: 0 20px;
  background-color: #fff;
  font-size: 18px;
}
.title .title-border {
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px solid #000;
  z-index: -1;
}
